{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hello! I’m Kamaleshvar R, a passionate web developer from Tamil Nadu, India,
          currently pursuing a degree in Computer Science Engineering. With a strong
          foundation in web development, I specialize in creating responsive and
          user-friendly web applications. I thrive on learning new technologies and
          staying updated with industry trends. My goal is to deliver high-quality,
          innovative web solutions that enhance user experiences.
        </p>
        <p>
          I believe in the power of collaboration and enjoy working with like-minded individuals who
          are equally passionate about technology and innovation. When I’m not coding,
          I love indulging in my hobbies of playing games and watching anime.
          These interests often inspire my creative process and problem-solving skills
          in development. Let’s connect and create something amazing together!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}